@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Crimson Text", serif;
  font-family: "Open Sans", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:-webkit-any-link:focus-visible {
  outline: 0;
}

textarea {
  resize: none;
}

textarea:focus-visible {
  outline: 0;
}

/* Start Custom Checkbox */
.checkBoxTxt {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #575757;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.checkBox {
  appearance: none;
  display: none;
}

.checkBoxTxt span {
  display: inline-block;
  text-align: start;
}

.checkBoxTxt:before {
  content: "";
  -webkit-appearance: none;
  /* background-color: transparent; */
  border: 2px solid #d3d3d3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 12px;
  border-radius: 7px;
}

.checkBox:checked + .checkBoxTxt:before {
  background: #388e1e;
  border: 2px solid #388e1e;
}

.checkBox:checked + .checkBoxTxt:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0%, -60%) rotate(45deg);
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* End Custom Checkbox */
/* Start CustomRadio Button */
.customRadio:checked,
.customRadio:not(:checked) {
  position: absolute;
  left: -9999px;
}

.customRadio:checked + label,
.customRadio:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

.customRadio:checked + label:before,
.customRadio:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 100%;
  background: transparent;
}

.customRadio:checked + label:after,
.customRadio:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.customRadio:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.customRadio:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* End CustomRadio Button */
/* Scrollbar-Css */
.scrollbar {
  background-image: linear-gradient(to right, #1c3276, #4c69c3, #1c3276);
  width: 6px;
  height: 10%;
}

.scrollbar-track {
  background-color: #d9d9d9;
}

.scrollbar-thumb {
  background-image: linear-gradient(to right, #1c3276, #4c69c3, #1c3276);
  border-radius: 16px;
  border: 0px solid #d9d9d9;
}

::-webkit-scrollbar {
  background-image: linear-gradient(to right, #1c3276, #4c69c3, #1c3276);
  width: 6px;
  height: 10%;
}

::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #1c3276, #4c69c3, #1c3276);
  border-radius: 16px;
  border: 0px solid #d9d9d9;
}

::-moz-scrollbar {
  background-image: linear-gradient(to right, #1c3276, #4c69c3, #1c3276);
  width: 6px;
  height: 10%;
}

::-moz-scrollbar-track {
  background-image: linear-gradient(to right, #1c3276, #4c69c3, #1c3276);
}

::-moz-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 0px solid #fff;
}

/* End Scrollbar Css */
button:focus,
button:focus-visible,
.form-select:focus,
.form-select:focus-visible,
.form-control:focus,
.form-control:focus-visible {
  box-shadow: none;
  outline: none;
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

input:focus-visible {
  outline: 0px;
}

button {
  background: transparent;
  outline: 0;
  border: 0;
}

.customFormControl {
  width: 100%;
  border: 1px solid #6e6e6e !important;
  padding: 12px;
  border-radius: 5px;
  font-size: 12px;
}

.customFormControl::placeholder {
  color: #5e5f5e;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*---- End Common Css ----*/
/* .mainBox {
  display: flex;
} */

/* Start setup profile page */
.logoMain {
  position: absolute;
  top: 20px;
  left: 20px;
}

.outerBoxmain {
  background-image: url(../images/loginbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.cheftypeBox {
  display: flex;
  align-items: center;
  padding: 10px !important;
}

.chefType {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 0 10px;
  justify-content: space-between;
  color: #2e3333;
  font-size: 14px;
  font-weight: 400;
  padding: 7px;
}

.profileSet {
  margin-top: 10px;
}

.detailEnd {
  text-align: end;
}

.PersonalDetails {
  border-radius: 17px;
  background: #2e3333;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 10px;
}

.progressCount {
  color: #2e3333;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.indexedStep.completed .progressCount {
  display: none !important;
}

.chefType.active {
  background: #e65c00;
  border-radius: 10px;
  color: #fff;
  position: relative;
  width: 57%;
  z-index: 2;
  font-size: 10px;
  margin-right: -6px;
}

.chefType.active .InfoIconActive {
  display: block !important;
}

.chefType.active .InfoIcon {
  display: none;
}

.InputIcon {
  position: absolute;
  top: 17px;
  right: 14px;
}

.setUpHeading {
  color: #2e3333;
  text-align: center;
  font-family: Crimson Text;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

.Headingsmall {
  color: #2e3333;
  font-family: Crimson Text;
  font-size: 28px;
  font-weight: 600;
}

.progressBox {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.04);
  margin-bottom: 2rem;
  padding: 20px;
}

.addButton {
  border-radius: 40px;
  border: 1px solid #e65c00;
  padding: 5px 13px;
  color: #e65c00;
}

.smallBtn.disable {
  background: #f7ceb3;
}

.react-tooltip {
  position: absolute;
  opacity: 1;
  top: 40px !important;
  visibility: visible !important;
}

.styles-module_arrow__K0L3T {
  width: 18px;
  height: 18px;
  top: -10px;
  left: 340px !important;
}

.styles-module_dark__xNqje {
  border-radius: 15px !important;
  background: #fff !important;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05) !important;
  color: #abadad !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

/* Start AddExpertise modal */
#AddExpertise {
  max-width: 406px;
  margin: 0;
  margin-left: auto;
  width: 100%;
  top: 20px;
  right: 20px;
  height: 96vh;
}

#AddExpertise .modal-content {
  height: 100%;
}

.addMore {
  color: #e65c00;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

#AddExpertise .InputIcon {
  top: 11px;
  cursor: pointer;
}

.buttomBtn {
  position: fixed;
  bottom: 50px;
  width: 100%;
  max-width: 327px;
}

/* End AddExpertise modal */

.expertiseList {
  border-radius: 4px;
  background: #eeefef;
  color: #2e3333;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  padding: 8px 15px;
  margin: 5px 13px 5px 0;
}

.subHeadingSmall {
  color: #979999;
  font-size: 14px;
  font-weight: 400;
}

.uploadFileDetail {
  color: #2e3333;
  font-size: 14px;
  font-weight: 600;
}

.uploadFileIcon {
  width: 22px;
  height: 25px;
}

.fileDetail {
  margin-left: 20px;
}

.innerUploadImgBox {
  width: 335px;
  height: 88px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background-color: rgba(230, 92, 0, 0.1);
  justify-content: space-between;
  border-radius: 16px;
}

.uploadFileButton {
  padding-top: 40px;
}

.fileDetail {
  text-align: left;
}

.uploadcancelIcon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  color: #2e3333;
}

.uploadImgebox {
  /* display: inline-block; */
  width: 100%;
  background: rgba(254, 250, 247, 1);
  border: 1px dashed #f5be99;
  border-radius: 20px;
  text-align: center;
  padding: 35px 50px 35px;
  margin-bottom: 20px;
  height: 219px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadImgeboxNew {
  display: inline-block;
  width: 100%;
  background: transparent;
  border: 1px dashed #f5be99;
  border-radius: 8px;
  text-align: center;
  padding: 50px;
  margin-bottom: 20px;
}

.uploadbtnn {
  background: rgba(230, 92, 0, 0.08);
  border-radius: 33px;
  color: rgba(230, 92, 0, 1);
  font-size: 12px;
  padding: 9px 40px;
  font-weight: 600;
  display: inline-block;
  margin: 15px 0;
  cursor: pointer;
}

.Uploadicon {
  display: block;
  margin: 0 auto;
}

.uploadText {
  color: #abadad;
  font-size: 12px;
  margin: 0;
}

.HeadingSmall {
  color: #2e3333;
  font-size: 14px;
  font-weight: 400;
}

.availability {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
}

.weekBox {
  text-align: center;
}

.weekDays {
  border-radius: 10px;
  background: #fcefe5;
  display: inline-block;
  padding: 16px 9px;
  margin-top: 2rem;
  margin-right: 8px;
  color: #2e3333;
  font-family: Crimson Text;
  font-size: 12px;
  font-weight: 600;
  width: 50px;
  text-align: center;
}

.availability .weekDays {
  width: 38px;
}

.weekDays.active {
  background: #e65c00;
  color: #fff;
}

.timeSlotBox {
  padding: 20px 30px;
}

.HeadingsmallText {
  color: #2e3333;
  font-family: Crimson Text;
  font-size: 20px;
  font-weight: 600;
}

.borderBottom {
  color: rgba(233, 233, 233, 0.5);
  opacity: 1;
}

.react-datepicker-wrapper {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 75%;
}

.date-picker-outer
  .react-datepicker__input-container
  .react-datepicker__calendar-icon {
  position: absolute;
  padding: 0;
  cursor: pointer;
}

.ClockIcon {
  position: absolute;
  top: 19px;
  left: 68px;
}

.deleteBox {
  position: relative;
}

.DeleteIcon {
  position: absolute;
  top: 35px;
  cursor: pointer;
  left: 40px;
}

/* End setup profile page */

/* Start User Home  */
.mainBoxOuter {
  padding: 10px 31px;
}

.chefs-lists{
  padding: 10px 31px;
  height: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.menu-detail{
 
    padding: 10px 31px;
    height: 100%;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}


.headingSub {
  color: #2e3333;
  font-family: Crimson Text;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.outerBox {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-bottom: 20px;
}

.chefDetails {
  background-image: url(../images/ChefCap.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 90px;
  width: 90px;
  margin: 0 auto;
  position: relative;
}

.UserICon {
  position: absolute;
  left: -10px;
  top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.smallHeading {
  color: #2e3333;
  font-size: 14px;
  font-weight: 600;
}

.expBtn {
  border-radius: 4px;
  background: #e65c00;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  padding: 5px 15px;
}

.ratingBox {
  background: hsl(122deg 55% 46% / 10%);
  padding: 0px 6px;
  border-radius: 4px;
}

.coloredText {
  color: #35b539;
  font-size: 12px;
  font-weight: 400;
}

.startIcon {
  font-size: 12px;
  color: rgba(255, 193, 7, 1);
  margin-right: 3px;
}

.dayavailability.active {
  background: #e65c00;
  box-shadow: 0px 10px 15px 0px rgba(230, 92, 0, 0.3);
}

.react-time-picker__inputGroup__input:invalid {
  background: none !important;
}

.date-picker-resp .react-datepicker-ignore-onclickoutside,
.react-datepicker__input-container input {
  width: 100%;
  padding: 15px 25px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #e9e9e9;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  color: #2e3333;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
}

.date-picker-outer .react-datepicker-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.reviewsection,
.cursor-pointer-notifiy {
  cursor: pointer;
}

.StarRating_ {
  cursor: pointer;
}

.StarRating_.activeRating {
  background-color: #2e3333;
}

.StarRating_.activeRating span {
  color: #fff;
}

.ratingProgressBarNew .ant-progress-bg {
  background-color: #ffc107 !important;
  height: 10px !important;
}

.ratingProgressBarNew .ant-progress-inner {
  background-color: #fff3cd;
  border-radius: 50px;
  height: 10px;
}

.ant-progress.ant-progress-status-normal.ratingProgressBarNew {
  margin: 0;
}

.locate.current-locate-btn {
  border-radius: 8px;
  border: 2px solid #e65c00;
  background: #fff;
  box-shadow: 0px 17px 28px 0px rgba(230, 92, 0, 0.1);
  color: #e65c00;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 14px 60px;
  display: flex;
  gap: 10px;
}

.search.search-location-input {
  position: relative;
  display: inline-block;
}

.search-location-input {
  fill: #fff;
  stroke-width: 1px;
  stroke: rgba(230, 92, 0, 0.15);
  filter: drop-shadow(0px 9px 19px rgba(230, 92, 0, 0.03));
  border: none;
  padding: 14px 5px 14px 36px;
  color: #abadad;
  font-family: Open Sans;
  font-size: 16px;
  border-radius: 8px;
  width: 500px;
}

.locate-icon-map {
  position: absolute;
  left: 43px;
  top: 28px;
}

.search-icon-map {
  position: absolute;
  right: -20px;
  top: 22px;
  background: #e65c00;
  padding: 8px;
  border-radius: 8px;
}

.location-list-box {
  width: 500px !important;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
}

.location-list-items {
  width: 500px !important;
}

.locate-options {
  color: #2e3333;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  border-bottom: 1px solid rgba(192, 194, 194, 0.5);
  padding: 10px 4px;
  /* border-style: dashed; */
}

.search-current {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: absolute;
  z-index: 1;
  gap: 50px;
  left: 39%;
  right: 8px;
  top: 25px;
}

.select-image-outer {
  position: absolute;
  bottom: 81px;
}

.all-chat-list {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
}

.chat-list-counts {
  background-color: #e65c00;
  width: 19px;
  height: 19px;
  border-radius: 50px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  padding: 2px 3px 0px 4px;
}



.modalscroll-notificaation {
  height: 641px;
  overflow-y: auto;
  margin-top: 19px;
}

.chef-bell-section .modalscroll,
.userbellsection .modalscroll {
  height: 600px !important;
}

.expertise-profile,
.name-profile-name {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 60%;
  margin-top: 25px;
}

.noDataFoundImageRequestpage {
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-review-data .ratingStars {
  width: 30%;
}

.rating-starts-data {
  width: 70%;
}

.ratingReviews_.rating-review-data {
  display: flex;
}

.rating-starsss {
  width: 50%;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.rating-progress-barrr {
  width: 50%;
}

.rating-starsss div img {
  height: 15px;
  width: 15px;
  margin-right: 6px;
}

.rating-review-user {
  height: 60px;
  width: 60px;
  margin-top: 4px;
}

.rating-review-user img {
  border-radius: 50px;
}

.usercartcheck .outeraddItem-resp {
  padding: 20px 10px 0px 10px;
  border-top: 1px dashed rgba(192, 194, 194, 0.5);
}

.addcartitem {
  border-radius: 8px;
  background: #e65c00;
  box-shadow: 0px 17px 28px 0px rgba(230, 92, 0, 0.15);
  padding: 18px 45px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  width: 92%;
}

.modalfooterbtnAddToCart {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 13px;
}

.noAddressFound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35vh;
}

.good-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73vh;
}

.clearChatCancel {
  color: #e65c00;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #e65c00;
  background: #fff;
  padding: 16px 0px;
  width: 50%;
}

.clearChatBtn {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: #e65c00;
  padding: 16px 0px;
  width: 50%;
}

#deleteMenu .add-menu-modal {
  height: 67vh;
  overflow-y: auto;
  padding-right: 6px;
}

.address-border-input {
  padding: 15px 33px 15px 25px !important;
}

.order-inner-list {
  overflow-y: auto;
  height: 60vh;
  padding-right: 6px;
}

.user-chef-notification-modal {
  height: 74vh;
}

.inactive-content {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inactive-content p {
  font-size: 25px;
  color: #7b7777e8;
  font-weight: 600;
}

.no-chef-found-near {
  text-align: center;
  margin-top: 10px;
  font-size: 23px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
.label-select-expertise {
  color: #abadad;
  font-family: serif;
  font-size: 16px;
  font-weight: 500;
}

.select-expertise-outer .MuiChip-deleteIcon {
  color: #fff !important;
}
.select-expertise-outer
  .MuiButtonBase-root.MuiChip-root.MuiChip-filled.MuiChip-sizeMedium {
  background: #e65c00;
  color: #fff;
}
.select-expertise-outer .MuiChip-deleteIcon:hover {
  color: #fff !important;
}
.menu-list {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 15px;
  /* width: calc(20% - 85px); */
  margin-right: 21px;
  margin-bottom: 20px;
}

.sarahsmenu .menu-list .itemsPrice_ {
  padding: 8px 25px !important;
  width: 100%;
  color: #35b539;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  border-radius: 10px;
  background-color: rgb(53 181 57 / 20%);
}
.menu-list .menuItem_ {
  width: 80px;
  height: 80px;
}
.menu-list .itemIs_ {
  font-size: 18px !important;
  text-transform: capitalize;
}
.menu-list .category_ {
  font-size: 12px !important;
  text-transform: capitalize;
}
.food-by-chef span {
  color: #abadad;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
}

.food-by-chef {
  color: #2e3333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.chefs-lists .cheffilter .searchtext {
  padding: 15px 54px 15px 8px;
  /* width: 310px; */
}
.menu-list .bgmenuImg_ {
  left: 29px;
  top: -16px;
  width: 100px;
  height: 90px;
}
.hire-chef-btn {
  border-radius: 8px;
  background: #2e3333;
  box-shadow: 0px 17px 28px 0px rgba(230, 92, 0, 0.15);
  padding: 18px 45px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  width: 92%;
}
.chef-details-modal {
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.05);
  margin: 12px;
}
.chef-detail-wrappper {
  position: relative;
}

.chef-detail-bg {
  height: 50px;
  width: 50px;
}

.chef-detail-image {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 15px;
  border-radius: 50px;
  top: 8px;
}
.chef-detail-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 25px;
}

.chef-detail-name {
  color: #2e3333;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 9px;
}

.detail-exp-tag {
  border-radius: 4px;
  background: #e65c00;
  padding: 6px 8px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 600;
}
.detail-review-count {
  color: #abadad;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
}
.scroll-food-detail {
  height: 64vh;
  overflow: auto;
}
.rating-review-detail {
  width: 30%;
  text-align: right;
}
.recipe-lists.select-expertise-outer {
  width: 230px;
}
.recipe-lists
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary {
  overflow: auto;
  height: 100%;
  max-height: 85px;
}

.recipe-lists.select-expertise-outer .MuiAutocomplete-endAdornment {
  top: 25px;
}
.recipe-lists
  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.MuiAutocomplete-clearIndicator {
  display: none;
}

/* Add this CSS to your stylesheet or in your style tag */

.recipe-lists .MuiAutocomplete-root .MuiOutlinedInput-notchedOutline {
  border: 1px solid rgba(230, 92, 0, 0.08);
}

.recipe-lists .MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 6px !important;
}

.recipe-lists
  .MuiAutocomplete-root.Mui-focused
  .MuiOutlinedInput-notchedOutline,
.recipe-lists .MuiAutocomplete-root:hover .MuiOutlinedInput-notchedOutline {
  border: 1px solid rgba(230, 92, 0, 0.08);
}
.border-label-update-profile .chefType.active {
  z-index: 0;
}
/* .border-label-update-profile .border-label {
  z-index: 1;
} */
.border-label-update-profile .react-tel-input .flag-dropdown.open {
  z-index: 2222222;
}
.border-label-update-profile .react-tel-input .flag-dropdown {
  background-color: unset !important;
}
.border-label-update-profile
  .react-tel-input
  .flag-dropdown.open
  .selected-flag {
  background: unset !important;
}
.border-label-update-profile.selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: #fff;
}
li.next.disabled a {
  cursor: not-allowed;
}
li.previous.disabled a {
  cursor: not-allowed;
}
.myrecentOrders_.orderModalBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 82vh;
}

.modalscroll-order{
  height: calc(100% - 100px);
}
input.searchtext.search-chef-menu {
  width: 300px;
}
input.searchtext.search-only-chef {
  padding: 15px 53px 15px 24px !important;
  width: 300px;
}
.label-hire-chef {
  z-index: 0 !important;
}
.orderprocess {
  cursor: pointer;
}
.no-bank-found {
  height: 55vh;
}
.cursor-booking{
  cursor: pointer;
}


.hometype_.recipe-lists.select-expertise-outer {
  width: 260px !important;
  display: flex !important;
  align-items: center !important;
}
.hometype_.recipe-lists.select-expertise-outer .chefName {
  margin-right: 6px !important;
}
.hometype_ .MuiAutocomplete-root.MuiAutocomplete-hasPopupIcon {
  max-width: 177px !important;
  width: 100% !important;
}

.hometype_ fieldset.MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.chef-type-img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}