/**Starts Header CSS**/
.buttonInner {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.header {
    display: flex;
    padding-top: 20px;
}

.header .logButtons {
    padding-top: 19px;
}

.buttonImg {
    padding: 5px;
    background-color: #FFF;
    border-radius: 50%;
    padding: 15px;
}

.blackButton {
    padding: 4px 20px 4px 4px;
    ;
    border-radius: 50px;
    background-color: #0C0500;
    box-shadow: 0px 1px 12px 0px rgba(46, 51, 51, 0.10) inset;
    border: none;
}

.orangeButton {
    border: none;
    padding: 4px 20px 4px 4px;
    ;
    border-radius: 50px;
    background-color: #E65C00;
    box-shadow: 0px 1px 12px 0px rgba(46, 51, 51, 0.10) inset;
}

/**Ends Header CSS**/
/**Starts Banner Section CSS**/
.banner {
    background-image: url(../images/bannerBg.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    /* padding-bottom: 80px; */
    background-size: 100% 19%;

}
/* .chef {
    margin-left: -84px;
} */
.foodImg1{
    width: 100px;
}
.stroke {
    position: absolute;
    z-index:-1;
    width: 96%;
    top:6px;
}
.lineImg {
    width: 100%;
    height: 320px;
}

.foodImg1 {
    position: absolute;
    top: 100px;
}

.orangeHeading {
    color: #E05B01;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.blackHeading {
    color: #2E3333;
    font-family: "Crimson Text";
    font-size: 58px;
    font-weight: 700;
    line-height: 68px;
}

.greyHeading {
    color: #979999;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.orngButtons {
    color: #FFF;
    border-radius: 50px;
    display: flex;
}

.orngButtons .secondary {
    font-size: 14px;
    font-weight: 600;

}

.orngButtons .primary {
    font-size: 10px;
}

.btnInner {
    text-align: left;
    line-height: 15px;
}

/* .chef {
    height: 647px;
    margin-left:-175px;
} */

.appButtons {
    display: flex;
}

/* .foodImg2 {
    position: absolute;
    bottom: 15px;
    right: 0;
} */
.foodHalf {
    position: absolute;
    top: 14%;
    right: 0%;
}
/**Ends Banner Section CSS**/
/**Starts About Section CSS**/
.about {
    position: relative;
    padding-top: 13rem;
    padding-bottom: 90px;
}

.about .image1 {
    position: absolute;
    right: 0;
}

.orange {
    color: #E65C00;
    font-family: "Crimson Text";
    font-size: 52px;
    font-weight: 700;
    line-height: 68px;
}

.black {
    color: #2E3333;
    font-family: "Crimson Text";
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
}
.primary {
    font-size: 24px;
    font-weight: 700;
    color: #2E3333;
}
 .orngButton {
    border: 1px solid #E05B01;
    border-radius: 50px;
    padding: 3px 17px 6px 17px;
    background: #e05b0114;
}

.about .secondary {
    color: #979999;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
}

.sub {
    color: #E05B01;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

.about .image2 {
    position: absolute;
    bottom: 15px;
}

.about .image3 {
    position: absolute;
    right: 0;
    bottom: -10px;
}

/**Ends About Section CSS**/
/**Starts Why Choose Section CSS**/
.whyChoose {
    background-image: url(../images/backgroundimg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.whyChoose .secondary {
    color: #979999;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 68px 0px 83px;
    text-align: justify;
}

.choose {
    text-align: center;
    background-image: url(../images/Rectangle2153.png);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 40px;
    
}

/**Ends Why Choose Section CSS**/
/**Starts Video Section CSS**/
.videoSection {
    padding-top: 120px;
    padding-bottom: 80px;
    position: relative;
}

.videoSection .image1 {
    position: absolute;
    top: 30px;
}

.videoSection .blackHeading {
    color: #2e3333;
    font-family: Crimson Text;
    font-size: 42px;
    font-weight: 700;
    line-height: 47px;
}

.video {
    text-align: right;
    position: relative;
}

.mainHeadings {
    margin-top: 1rem;
    padding-left: 9rem;
}

.videoSection .image2 {
    position: absolute;
    bottom: 10px;
    right: 740px;
    z-index: -1;
}

/**Ends Video Section CSS**/
/**Starts What Different Section CSS**/
/* .whatDifferent {
    position: relative;
    padding: 50px 0;
} */
.whatDifferent {
    position: relative;
    padding: 70px 0 142px 0px;
}
.burgerSmall {
    width: 122px;
}
.foodHalf {
    width: 140px;
}
.differentButton .primary {
    border-radius: 50px;
    padding: 10px 22px 16px 5px;
    background-color: #FFEDDE;
    border: none;
}

.differentButton .inner {
    border-radius: 50%;
    background-color: #E05B01;
    padding: 10px 7px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.differentButton .sub {
    color: #414141;
    font-size: 16px;

    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.whatDifferent .image2 {
    position: absolute;
    bottom: 10px;
}

.whatDifferent .image3 {
    position: absolute;
    right: 0;
    bottom: 0;
}
.different_ .greyHeading {
    padding: 0 154px 0 0;
}


/**Ends What Different Section CSS**/
/**Starts Download App CSS**/
.downloadApp {
    background-image: url(../images/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom;
    padding: 100px 0;
}

.custom {
    background-image: url(../images/Rectangle2154.png);
    background-repeat: no-repeat;
    background-position: center;
}

.whiteHeading {
    color: #FFF;
    font-family: "Crimson Text";
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
}

.blackButtons {
    border: none;
    background-color: #0C0500;
    color: #FFF;
    border-radius: 50px;
    padding: 10px 30px;
    display: flex;
}

.blackButtons .btnInner {
    text-align: left;
    line-height: 15px;
}

.blackButtons .primary {
    font-size: 10px;
}

.blackButtons .secondary {
    font-size: 14px;
    font-weight: 600;

}

.pizzaImg {
    position: absolute;
    top: 50px;
    right: 285px;
}

.mobile {
    text-align: center;
}
.playImage {
    width: 200px;
}

/**Ends Download App CSS**/
/**Start Footer Section CSS**/
.footer_sc {
    background-color: #0C0500;
    padding-top: 80px;
}

.footer_sc .primary {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.footer_h {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.navigation {
    list-style: none;
    padding: 8px 0;
}

.footer_ank {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.footer_logo {
    padding-right: 15px;
}

.copyright {
    padding: 18px 0;
    background-color: #151312;
    color: #969696;
    font-size: 14px;
    font-weight: 400;
}

.appButtons .btnInner {
    text-align: left;
    line-height: 15px;
}
.comman_p {
    font-size: 14px;
    font-weight: 400;
}
.appImages{
    width: 150px;
}
.appButtons .secondary {
    font-size: 14px;
    font-weight: 600;

}

.appButtons .primary {
    font-size: 10px;
}

.landing-page-group .toggle .slider::before {
    background-image: url(../images/rightArrowBlack.png);
}

.landing-page-group .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #0C0500;
    transition: all 0.4s ease-in-out;
}

.footer_ank:hover {
    color: #fff;
}

/**End Footer Section CSS**/