@media (max-width:767px){
    .Chef {
        right: -7px;
        height: calc(100% - -99px);
        object-fit: contain;
    }
    .logFood {
        width: 80px !important;
        height: 80px !important;
    }
    .foodBox .logFood:nth-child(2) {
        left: 60px;
    }
    .foodBox .logFood:nth-child(3) {
        left: 120px;
    }
    .foodBox .logFood:last-child {
        left: 185px;
    }
}