@media (min-width:1800px) {
    .chefratingsection .modalscroll {
        height: 100%;
        max-height: 700px !important;
    }

    .chefchatsection .chatnext {
        padding-top: 410px !important;
    }
}

@media (max-width:1800px) {}

@media (min-width:1366px) {
    .chefratingsection .modalscroll {
        height: 100%;
        max-height: 592px;
    }
}

@media (max-width:1365px) {
    .menuPage .profileDetail {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .homePage .profileDetail {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .Newbooking_ .profileDetail {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media (max-width: 1200px) {
    .setButtons{
        margin-bottom: 13px;
    }
    /* .main {
        width: calc(100% - 0px) !important;
    } */
    .videoSection .image2 {
        bottom: -73px;
        /* right: 752px; */
        z-index: -1;
    }
    .pizzaImg {
        right: -19px;
    }
    .about {
        padding-top: 168px;
        padding-bottom: 70px;
    }
    .image1 {
        width: 136px;
    }
    .about .image1 {
        right: 0;
        top: 86px;
    }
    .foodImg1 {
        width: 46px;
    }
    .blackHeading {
        font-size: 50px;
    }
    .greyHeading {
        font-size: 14px;
    }
    .mainHeadings {
        padding-left: 0rem;
    }
    .videoSection .blackHeading {
        font-size: 51px;
    }
    .black {
        font-size: 44px;
        line-height: 51px;
    }
    .whatDifferent .burgerSmall {
        width: 130px;
    }
    .appButtons .primary {
        font-size: 7px;
    }
    .appButtons .secondary {
        font-size: 12px;
    }
    .whatDifferent .image2 {
        width: 165px;
    }
    .videoSection .image2 {
        bottom: -15px;
        left: 0;
        width:70px;
    }
    .downloadApp {
        background-size: 100% 64%;
    }
    


}

@media (max-width:991px) {
    .setButtons{
        margin-bottom: 13px;
    }
    .detailEnd {
        text-align: center;
        margin-top: 12px;
    }
    .profileSet {
        margin-top: 27rem ;
    }
    .videoSection .image2 {
        bottom: 49px;
        width: 70px;
        left: 49%;
    }
    .greyHeading {
        font-size: 11px;
    }
    .chef {
        margin-left: 0
    }
    .blackHeading {
        font-size: 29px;
        line-height: 36px;
    }
    .logleft:before {
        left: 84%;
        top: 9%;
    }
    .foodBox .logFood:first-child { 
        height: 120px;
        width: 120px;
    }
    .foodBox .logFood:nth-child(2) {
        height: 120px;
        width: 120px;
        left:115px;
    }
    .foodBox .logFood:nth-child(3) {
        height: 120px;
        width: 120px;
        left:226px;
    }
    .foodBox .logFood:nth-child(4) {
        height: 120px;
        width: 120px;
        left:343px;
    }
    .logRight {
        position: relative;
    }

    .logForm {
        width: 90%;
        margin: 5rem auto;
    }

    .toggleButtonMain {
        top: -50px;
    }

    .Chef {
        right: 0px;
    }

    .sarahavailablebtn {
        margin-right: 5px;
        padding: 10px 18px 10px 10px;
    }

    .sarahmessagebtn {
        padding: 10px 18px 10px 10px;
    }

    .availableimg {
        padding: 7px;
        width: 100%;
        max-width: 35px;
    }

    .availableheading {
        font-size: 12px;
        margin-left: 8px;
    }

    .sarahImg_ {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    .restroinfo .johnchatdetail {
        padding: 4px 8px;
        cursor: pointer;
    }

    .chefdetailsection .johnExplorer {
        color: #2e3333;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 0;
        text-transform: capitalize;
    }

    .profileleft {
        display: flex;
        justify-content: center;
    }

    .editleft {
        display: flex;
        justify-content: center;
    }

    .myprofileLink {
        margin-top: 20px;
    }

    .orderstatus {
        margin-top: 10px;
    }

    .menuPage .profileDetail {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .homePage .profileDetail {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .Newbooking_ .profileDetail {
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .foodImg1 {
        width: 100px;
    }
  
    .foodHalf {
        top: 16%;
    }
    .mainHeadings {
        /* margin-top: 52px;
        margin-bottom: 32px; */
        margin: 52px 58px 52px 59px;
    }
    .videoSection .blackHeading {
        font-size: 55px;
        line-height: 51px;
    }
    .video {
        text-align: center;
    }
    .videoSection .blackHeading {
        font-size: 48px;
    }
    .orange {
        font-size: 33px;
    }
    .black {
        font-size: 33px;
    }
    .about .secondary {
        font-size: 12px;
    }
    .burgerSmall {
        width: 100px;
    }
    .differentButton .inner {
        padding: 16px 11px;
        font-size: 13px;
    }
    .differentButton .primary {
        padding: 9px 25px 16px 5px;
    }
    .banner {
        background-size: 100% 28%;
    }
    .secondary {
        font-size: 9px;
    }
    .pizzaImg {
        top: -48px;
        right: 0;
    }
    .custom {
        background-size: 100%;
    }
    .whiteHeading {
        font-size: 40px;
    }
    .playImage {
        width: 130px;
    }
    /* .logleft:before {
         left:0; 
    } */
    .main .mainLayout{
       width: calc(100% - 3px); 
    }
    /* .videoSection .image2 {
        bottom: -108px;
        left: 0;
    } */
    .footer_sc {
        padding-top: 40px;
    }
    .videoSection .blackHeading {
        font-size: 44px;
        line-height: 39px;
    }
    .availability_Box .innerBoxText {
        font-size: 10px;
        padding: 23px 6px;
    }
}

@media (max-width:767px) {
    .DeleteIcon {
        top: 8px;
        left: 89px;
    }
    .myavailability {
        display: block;
    }
    .setButtons {
        margin-bottom: 30px;
    }
    .detailEnd {
        text-align: center;
    }
    .mobileImage {
      width: 201px;
    }
    .downloadApp {
        background-size: 100% 98%;
    }
    .pizzaImg {
        top: -2px;
        right: 0;
    }
    .pizzaImage {
    width:166px;
    }
    .headings {
        margin-top: 36px;
    }
    .Chef {
        right: -7px;
        height: calc(100% - -99px);
        object-fit: contain;
    }

    .logFood {
        width: 80px !important;
        height: 80px !important;
    }

    .foodBox .logFood:nth-child(2) {
        left: 60px;
    }

    .foodBox .logFood:nth-child(3) {
        left: 120px;
    }

    .foodBox .logFood:last-child {
        left: 185px;
    }

    .logleft::before {
        opacity: 0;
        display: none;
    }

    .logleft {
        position: static;
    }

    .foodBox {
        display: none;
    }

    .cheffilter {
        margin-bottom: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cheffilter .btn-secondary {
        padding: 0;
    }

    .dropdown,
    .dropend,
    .dropstart,
    .dropup {
        position: relative;
        margin: 12px;
    }

    .sarahinfo {
        display: flex;
        align-items: center;
        width: auto;
        margin: 0 auto;
        justify-content: center;
    }

    .contentLast {
        justify-content: center !important;
        margin-top: 15px;
    }

    .contentCenter {
        display: flex;
    }

    .chefCommonHeader {
        font-size: 28px !important;
    }

    .navMain .flexBox {
        justify-content: end !important;
    }

    .innerHeaderArrow {
        cursor: pointer;
        width: 34px;
        height: 34px;
    }

    .sarahinformation {
        left: 0;
    }

    .main_Setting .sarahmessagebtn {
        padding: 10px 20px;
    }

    /* .mainBox.inActiveSidebar .usermain {
     margin: 0;
     width: 100%;
     
   }  */

    .toggleSideBtn {
        display: block;
    }

    .mainBox.inActiveSidebar .userSidebar {
        position: absolute;
        left: -100px;
        transition: all 0.5s;
        z-index: 2;

    }

    .mainBox.activeSidebar .userSidebar {
        position: absolute;
        left: 0px;
        z-index: 2;
        transition: all 0.5s;
    }

    .usermain {
        width: calc(100% - 0px);
        margin-left: 0;
    }

    .settingMain {
        height: 79vh;
        overflow: scroll;
    }

    .mainBoxOuter {
        padding: 10px 31px;
        height: 78vh;
        overflow: scroll;
    }

    .chefdetailsection {
        height: 80vh;
        overflow: scroll;
    }

    .userordersection {
        padding: 10px 31px;
        height: 80vh;
        overflow: scroll;
    }

    .chatIconImage {
        padding: 15px 16px !important;
    }

    .cart {
        width: 60px !important;
        height: 60px !important;
    }

    .basketImg {
        left: 16px !important;
        top: 12px !important;
        width: 30px !important;
        height: 30px !important;
    }

    .menuPage .profileDetail {
        grid-template-columns: 1fr 1fr;
    }

    .homePage .profileDetail {
        grid-template-columns: 1fr 1fr;
    }
    .Newbooking_ .profileDetail {
        grid-template-columns: 1fr 1fr ;
    }
    .videoSection .image2 {
        bottom: 49px;
        left: 2%;
    }
    .banner {
        background-size: 100% 17%;
    }
    .foodHalf {
        top: 13%;
    }
    .image2 {
        width: 110px;
    }
    .black {
        font-size: 45px;
        line-height: 55px;
    }
    .different_ {
        text-align: center;
    }
    .differentButton {
        text-align: center;
    }
    .custom .appButtons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
   .custom .whiteHeading {
        font-size: 40px;
        text-align: center;
    }
    .custom {
        background-position: bottom;
    }
    .forgotIcon:before {
        display:none;
    }
    .profileSet {
        margin-top: 30rem;
    }
}

@media (max-width:575px) {
    .detailEnd {
        text-align: center;
    }
    .logForm {
        width: 100%;
    }

    .toggleButtonMain {
        right: 23px;
    }

    .cheffilter .searchtext {
        padding: 15px 90px 15px 24px;
    }

    .innerHeaderArrow {
        width: 35px !important;
        height: 35px !important;
    }

    .chefCommonHeader {
        font-size: 24px !important;
    }

    .main_Setting .sarahmessagebtn {
        margin: 0;
        padding: 10px;
    }

    .main_Setting .booknowimg {
        margin-right: 0px;
    }

    .availableimg {
        padding: 7px;
        width: 100%;
        max-width: 30px;
    }

    .menuPage .profileDetail {
        grid-template-columns: 1fr;
    }

    .homePage .profileDetail {
        grid-template-columns: 1fr;
    }
    .Newbooking_ .profileDetail {
        grid-template-columns: 1fr ;
    }
    .leftHalf {
        display: none;
    }
    .headings {
        margin-top: 48px;
    }
    .about {
        position: relative;
        padding-top: 7rem;
        padding-bottom: 12rem;
    }
    .video {
        padding-right: 12px;
    }
    .custom .whiteHeading {
        font-size: 43px;
        text-align: center;
        line-height: 50px;
    }
   .mobileImage {
        margin-bottom: 40px;
    }
    .appStore_ .appButtons.mt-2 {
        margin-bottom: 15px;
    }
    .whatDifferent .image2 {
      
        bottom: 1px;
    }
    .about .image1 {
        top: 0;
    }
    .pizzaImage {
        width: 150px;
    }
    .pizzaImage {
        width: 120px;
    }
    .pizzaImg {
        top: -16px;
       
    }
    .burgerSmall {
        width: 65px;
    }
    .chef {
     margin-left:0; 
    }
    .foodHalf {
        width: 60px;
    }
    .foodHalf {
        top: 15%;
    }
    .chooseroleBox .roleHeading {
        font-size: 12px;
    }

}

@media (min-width:425px) {
    .chefratingsection .modalscroll {
        height: 100%;
        max-height: 600px;
    }

    .custom .whiteHeading {
        font-size: 25px;
        line-height: 29px;
    }
}

@media (max-width:425px) {
    .sideBar {
        height: 100%;
    }

    .uploadEditImg {
        max-width: 40px;
        max-height: 40px;
    }

    .userprofilesection .profileright {
        padding: 0px;
    }

    .pagination {
        justify-content: center;
    }
    .custom .whiteHeading {
        font-size: 21px;
        line-height: 21px;
    }
    .profileSet {
        margin-top: 30rem;
    }
    .Chef {
        bottom: -166px;
    }

}

@media (max-width:375px) {
    .DeleteIcon {
        top: 7px;
        left: 92px;
    }
    .detailEnd {
        text-align: center;
        margin-top: 12px;
    }
    .foodHalf {
        width: 95px;
        top: 15%;
    }
    .banner {
        background-size: 100% 18%;
    }
    .burgerImg {
        width: 138px;
    }
    .image2 {
        width: 93px;
    }
    .blackHeading {
        font-size: 38px;
        line-height: 45px;
    }
    .greyHeading {
        font-size: 12px;
    }
    .chef {
         margin-left:0;
    }
   
    .foodHalf {
        top: 13%;
    }
    .banner {
        background-size: 100% 16%;
    }
    .image1 {
        display: none;
    }
    .videoSection .blackHeading {
        font-size: 35px;
    }
    .greyHeading {
        font-size: 12px;
    }
    .mainHeadings {
        margin: 35px 12px 46px 18px;
    }

    .black {
        font-size: 30px;
    }
    .orange {
        font-size: 30px;
    }

    .differentButton .sub {
        font-size: 9px;
    }
    .burgerSmall {
        display: none;
    }
   .burgerSmall {
        display: none;
    }
    .custom .whiteHeading {
        font-size: 14px;
        line-height: 18px;
    }
    .footer_logo {
        margin-bottom: 27px;
    }
    .differentButton .inner {
        padding: 13px 11px;
    }
    .differentButton .primary {
        padding: 5px 24px 12px 5px;
    }
    .videoSection {
        padding-top: 0px;
        padding-bottom: 0px; 
    }
    .footer_ank {
        font-size: 16px;
    }
    .pizzaImg {
        top: -12px;
        right: 1px;
    }
    .pizzaImage {
        width: 100px;
    }
    .roleBox {
        margin: 0 34px;
    }
    .chooseroleBox {
        flex-wrap: wrap;
    }
    .Login .smallSubheading {
        font-size: 9px;
    }
    .chooseroleBox .roleHeading {
        font-size: 12px; 
    }
    .footer_sc {
        padding-top: 50px;
    }
    .footer_sc {
        padding-top: 30px;
    }
    .Chef {
        bottom: -144px;
    }
}
@media (max-width:360px){
    .downloadApp {
        position: relative;
        padding: 76px 0px 30px 0px;
    }
}
@media (min-width:325px) {
    .chefchatsection .chatnext {
        padding-top: 235px;
    }

}

@media (max-width:372px) {
    .userorderprice {
        margin-top: 10px;
    }
    .differentButton .sub {
        font-size: 11px;
    }
    .videoSection .blackHeading {
        font-size: 43px;
    }
}


@media (min-width:325px) and (max-width:1800px) {
    .chatnext {
        padding-top: 255px !important;
    }

}