
/* 
.logleft::before {
    content: '';
    position: absolute;
    background-image: url('../images/Roleuser.svg');
    background-color: aliceblue;
    padding: 33px 34px;
    width: 145px;
    height: 171px;
    top: 66px;
    background-size: cover;
    background-repeat: no-repeat;
    right: -70px;
    z-index: 4;
}

.topInputfields {
    display: flex;
    justify-content: space-between;
}  */