body{
    font-family: Crimson Text;
}

.input-container {
    position: relative;
}

.password-button {
    position: absolute;
    top: 19px;
    right: 16px;
    color: #E65C00;
    text-align: right;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}


/* Settings Page css Start */
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
.main_Setting {
    padding: 40px 31px 11px 31px;
}
.settingMainHeading {
    color: #2E3333;
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding-left: 17px;
}

.sideBar {
    border: 1px solid rgba(230, 92, 0, 0.07);
    background: #FFF;
    box-shadow: 0px 16px 20px 0px rgba(230, 92, 0, 0.08);
    width: 99px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.userprofile {
    width: 50px;
    height: 50px;
    border-radius: 24px;
}

.sidebarlogo {
    padding: 30px 12px 0 12px;
}

.sidebarProfile {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
}

.sidebarLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 11px;
    margin-bottom: 35px;
}
.sidebarItems {
    color: #979999;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sidebarItems:hover {
    color: #979999;
}
.sidebarItems {
    color: #979999;
}
.sidebarLinks.active .sidebarItems{
    color: #E65C00;
}
.sidebarLinks.active path {
    fill: #E65C00;
}
.sidebarLinks.active {
    background:rgba(230, 92, 0, 0.07);
    border-radius: 20px;
}
.imgShow {
    display: block;
    margin-bottom: 7px;
}
.imgHide{
    display: none;
    margin-bottom: 7px;
}
.sidebarLinks.active .imgShow {
    display: none;
}
.sidebarLinks.active .imgHide {
    display: block;
}
/* Header Section Css Start */
.main {
    width: calc(100% - 100px);
}

.headersection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 31px 30px;
}
.chatIconImage {
    border-radius: 20px;
    border: 1px solid #E65C0014;
    margin-right: 14px;
    margin-top: 17px;
    padding: 19px 22px;
}

.headerLinks {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(230, 92, 0, 0.08);
    background: #FFF;
    box-shadow: 0px 9px 19px 0px rgba(230, 92, 0, 0.03);
    margin-right: 10px;
    position: relative;
}
.headermenu:after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: red;
    position: absolute;
    border-radius: 20px;
    top: 36px;
    left: 43px;
}
.headermenu{
    position: relative;
}

.headeritem:after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: red;
    position: absolute;
    border-radius: 20px;
    top: 35px;
    left: 40px;
}
.headeritem{
    position: relative;
}
.headerLinks:after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background: #E65C00;
    border-radius: 50px;
    top: 19px;
    right: 23px;
}

.settingtxt {
    color: #2E3333;
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

.cart {
    position: relative;
    background: #E65C00;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
}
.navMain .flexBox {
    justify-content: end;
}
.basketImg {
    position: absolute;
    left: 22px;
    top: 21px;
}

.cartItems {
    position: absolute;
    right: 1px;
    top: 0px;
    background: #2E3333;
    width: 20px;
    height: 20px;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingBoxtxt {
    color: #2E3333;
    
    font-size: 18px;
    font-weight: 600;
}

.leftbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 40px;
    margin-bottom: 32px;
    border-radius: 20px;
    border: 1px solid rgba(233, 233, 233, 0.50);
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
}

.settingIcon {
    background: rgba(230, 92, 0, 0.07);
    padding: 12px 12px;
    border-radius: 9px;
}

/* .sidebarItems:hover {
    color: #979999;
} */


/* Settings Page css Start */
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.sidebarlogo {
    padding: 30px 12px 0 12px;
}


/* Changepasword */

.changepassHeading {
    color: #2E3333;
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding-left: 17px;
}

.changepassword {
    height: 85vh;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.cancelBtn {
    border-radius: 8px;
    border: 1px solid #E65C00;
    box-shadow: 0px 17px 28px 0px rgba(230, 92, 0, 0.15);
    color: #E65C00;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 45px;
    margin-right: 17px;
}

.changepassText {
    color: #979999;
    text-align: center;
    
    font-size: 14px;
    font-weight: 400;
}

/* loading  Page */
.loadingpage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountDeleted {
    color: #2E3333;
    text-align: center;
    font-family: Crimson Text;
    font-size: 28px;
    font-weight: 700;
}

.accountdeletetxt {
    color: #979999;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* contactus */
.settingMainText {
    color: #2E3333;
    text-align: center;
    font-family: Crimson Text;
    font-size: 28px;
    font-weight: 600;
}
.contactusImg{
    background: #fa6d2626;
    padding: 33px;
    border-radius: 50px;
}
   
/* term cond */
.termheading {
    color: #2E3333;
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 600;
}
.termAndCond {
    display: flex;
    align-items: flex-start;
    margin: 40px 30px;
}
.innerDummyHeading {
    color: #2E3333;
    font-family: Crimson Text;
    font-size: 24px;
    font-weight: 700;
}
.dummyText {
    color: #979999;
    
    font-size: 16px;
    font-weight: 400;
}
.condHeading {
    color: #2E3333;
    
    font-size: 18px;
    font-weight: 600;
}
.termcond {
    width: 100%;
    max-width: 14px;
    height: 14px;
    margin-right: 15px;
}
